@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: 'Instrument Serif', serif;

    --font-sans: Inter, sans-serif;
    --font-sans--font-feature-settings: 'cv11';

    --color-zinc-50: oklch(98.8% 0.003 106.5);
    --color-zinc-100: oklch(96.6% 0.005 106.5);
    --color-zinc-200: oklch(93% 0.007 106.5);
    --color-zinc-300: oklch(88% 0.011 106.6);
    --color-zinc-400: oklch(73.7% 0.021 106.9);
    --color-zinc-500: oklch(58% 0.031 107.3);
    --color-zinc-600: oklch(46.6% 0.025 107.3);
    --color-zinc-700: oklch(39.4% 0.023 107.4);
    --color-zinc-800: oklch(28.6% 0.016 107.4);
    --color-zinc-900: oklch(22.8% 0.013 107.4);
    --color-zinc-950: oklch(15.3% 0.006 107.1);
}

@theme {
    --color-accent: var(--color-zinc-900);
    --color-accent-content: var(--color-zinc-950);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-zinc-800);
    }
}
